
.main_signup {
    height: 60vh;
   padding-bottom: 5rem;
}

.main_signup_center {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error_headline {
    font-family: 'Cairo';
    font-size: 18px;
    font-weight: 500;
    color: #FB3445;
}

.popup_success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 912;
    background: #fff;
    box-shadow: 0 12px 24px rgba(0,0,0,0.4);
    width: 45%;
    height: 12rem;
    text-align: center;
    padding: 2rem;
}
.popup_success img {
    max-height: 8rem;
}