* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
  }
  
  html {
    direction: rtl;
    background: #f1f2f8;
    /* background: #EAF0F7; */
  

    text-align: right;
    
  }